alembic==1.7.7
asgiref==3.5.0
attrs==21.4.0
beautifulsoup4==4.10.0
blinker==1.4
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
click-default-group==1.2.2
coverage==6.3.2
distlib==0.3.4
filelock==3.6.0
Flask==2.1.1
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
Mako==1.2.0
MarkupSafe==2.1.1
packaging==21.3
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.1.0
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.34
toml==0.10.2
tomli==2.0.1
tox==3.24.5
urllib3==1.26.8
virtualenv==20.14.0
Werkzeug==2.1.0
WTForms==3.0.1
zipp==3.7.0
